<h1>Account</h1>
<p>Welcome to your account page.</p>
<p>Here you can view your account details, update your information, and change your password.</p>
<p>Click on the links below to get started.</p>
<ul>
    <li><a href="/account/details">View Account Details</a></li>
    <li><a href="/account/update">Update Account Information</a></li>
    <li><a href="/account/password">Change Password</a></li>
</ul>
<p>Need to log out? <a href="/account/logout">Click here</a></p>