<h1>Account</h1>
<h2>Welcome, <%- account_firstname %></h2>
<span><%- messages() %></span>
<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>
<p>Welcome to your account page.</p>

<% if (account_type === "Employee" || account_type === "Admin") { %>
<h3>Manage Inventoy</h3>
<a href="/inv/manage" title="Click to log out">Inventory</a>
<% } %>

<h3>Manage Account</h3>
<a href="/account/edit/">Update Account Information</a>