<h1>Account</h1>
<h2>Welcome, <%- account_firstname %></h2>
<span><%- messages() %></span>
<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>
<p>Welcome to your account page.</p>
<p>Here you can view your account details, update your information, and change your password.</p>
<p>Click on the links below to get started.</p>
<ul>
    <li><a href="/account/edit/">Update Account Information</a></li>
</ul>
<p>Need to log out? <a href="/account/logout">Click here</a></p>