<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <div class="hero-image">
        <!-- <img src="/images/vehicles/delorean-tn.jpg" alt="Delorean"> -->
        <picture>
            <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 400px)">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean">
        </picture>
    </div>
    <div class="hero-text">
        <h2>DMC Deloran</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <a href="/inventory" class="button">Own Today</a>
    </div>
</div>
<div id="home-grid">
    <section>
        <h2>Delorean Upgrades</h2>
        <div id="upgrade-grid">
            <div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/flux-cap.png" alt="FLux Capacitor">
                </div>
                <a class="upgrade-link" href="">Flux Capacitor</a>
            </div>
            <div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/flame.jpg" alt="Flames">
                </div>
                <a class="upgrade-link" href="">Flame Decals</a>
            </div>
            <div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/bumper-sticker.jpg" alt="Bumper Sticker">
                </div>
                <a class="upgrade-link" href="">Bumper Stickers</a>
            </div>
            <div>
                <div class="upgrade-item">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                </div>
                <a class="upgrade-link" href="">Hub Caps</a>
            </div>
        </div>
    </section>
    <section>
        <h2>DMC Delorean Reviews</h2>
        <ul class="list">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

</div>