<h1><% title %></h1>
<div class="form-wrapper">
    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <%  }) %>
    </ul>
    <% } %>
    <form action="/inv/type/create" method="post">
        <label for="classification_name">Classification Name:
            <input type="text" id="classification_name" name="classification_name" required
                value="<%= locals.classification_name %>" pattern="^[a-zA-Z0-9]+$">
        </label>
        <div>
            <ul>
                <li>Alphanumeric only, no spaces or special characters</li>
            </ul>
        </div>
        <button class="btn" type="submit">Create Classification</button>
    </form>
</div>